/* PRODUCT TOP */
.product-top {
  margin-top: 50px;
  cursor: default;
}

.product-top > h1 {
  position: relative;
  max-width: 1180px;
  min-width: 1180px;
  margin: 0 auto 2rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-black);
  font-size: 2rem;
  font-weight: 500;
}

.product-top > h1 i {
  margin-right: 1rem;
}

.product-top .wrapper {
  display: flex;
}

/* product swiper */
.productSwiper-container {
  width: 40%;
  margin-right: 30px;
  padding: 0 3px;
}

.productSwiper {
  width: 100%;
  height: 464px;
  border: 1px solid var(--color-border);
  margin-bottom: 16px;
  overflow: hidden;
}

.productSwiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.productSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.productSwiper .swiper-button-prev,
.productSwiper .swiper-button-next {
  opacity: 0;
  color: var(--color-gray);
}

.thumbnailSwiper {
  width: 100%;
  height: 107px;
  overflow: hidden;
}

.thumbnailSwiper:hover {
  cursor: pointer;
}

.thumbnailSwiper .swiper-slide {
  border: 1px solid var(--color-border);
}

.thumbnailSwiper .swiper-slide.swiper-slide-active {
  border: 1px solid var(--color-black);
}

.thumbnailSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

/* product infomation */
.product-info {
  width: 60%;
  position: relative;
}

.product-info .like-box {
  position: absolute;
  top: 0;
  right: 0;
}

.product-info .like-box i {
  font-size: 2.5rem;
  color: #f1cc27;
}

.product__title {
  font-size: 1.8rem;
  border-bottom: 1px solid var(--color-border);
}

.product__title h1 {
  margin-bottom: 16px;
}

/* product info table */
.product-table {
  width: 100%;
}

.product-table tr {
  display: block;
  border-bottom: 1px solid var(--color-border);
  padding: 18px 0;
}

.product-table tr td:first-child,
.product-options p {
  width: 130px;
  font-weight: bold;
}

.product-table tr:first-child td:last-child {
  color: var(--color-accent);
}

/* product info options */
.product-options {
  display: flex;
  align-items: center;
  padding: 18px 0;
}

.product-options form select {
  width: 260px;
  padding: 8px 3px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.product-options span {
  margin-left: 8px;
  font-size: 0.5rem;
  color: var(--color-gray);
}

.total-price {
  font-size: 2rem;
  font-weight: bold;
  text-align: end;
  margin-bottom: 2rem;
}

.total-price span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-dark-gray);
}

/* product info buttons */
.product-btns {
  display: flex;
  justify-content: space-between;
}

.product-btn {
  width: 48%;
  padding: 16px 0;
  border: 1px solid var(--color-main);
  border-radius: 30px;
  font-size: 1.2rem;
  color: var(--color-main);
  cursor: pointer;
  transition: all 300ms;
}

.product-btn:hover {
  opacity: 0.95;
}

.product-btn:last-child {
  background-color: var(--color-main);
  color: var(--color-white);
}

.npay-btn {
  text-align: end;
}

.npay-btn button {
  margin-top: 24px;
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  color: var(--color-white);
  text-transform: capitalize;
  background-color: forestgreen;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms;
}

.npay-btn button:hover {
  opacity: 0.95;
}

.npay-btn button span {
  background-color: var(--color-white);
  font-size: 1.1rem;
  font-weight: bold;
  color: forestgreen;
  padding: 3px 6px;
  margin-right: 3px;
}

@media (max-width: 768px) {
  .product-top > h1 {
    padding: 0 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    min-width: 100%;
    font-size: 1.5rem;
    border-bottom: none;
  }
  .product-top .wrapper {
    flex-direction: column;
    padding: 0 1rem;
  }
  .productSwiper-container {
    width: 100%;
    border-top: 2px solid var(--color-black);
    padding-top: 1rem;
  }
  .productSwiper,
  .thumbnailSwiper {
    height: auto;
  }
  .product-info {
    width: 100%;
    border-top: 2px solid var(--color-black);
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .product-info .like-box {
    top: 1rem;
  }
  .product-info .like-box i {
    font-size: 2rem;
  }
}

/* BANNER */
.banner img {
  width: 100%;
  margin: 32px 0;
}

/* PRODUCT-TABMENU */
.tab-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-area input {
  display: none;
}

.tab-area label {
  padding: 16px 32px;
  margin: 0;
  cursor: pointer;
}

.tab-content {
  margin-top: 32px;
  width: 100%;
  display: none;
  padding-top: 30px;
  border-top: 1px solid var(--color-black);
}

.tab-content img {
  width: 80%;
}

#content1 {
  text-align: center;
  margin-bottom: 32px;
}

#content2 .buy-info {
  margin-bottom: 62px;
}

#content2 .buy-info__title {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border);
}

#content2 .buy-info__desc {
  font-size: 0.85rem;
  color: var(--color-dark-gray);
  padding-top: 16px;
  line-height: 24px;
}

#content2 .buy-info__desc span {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

#content3 .product-review,
#content4 .product-ask {
  text-align: center;
  color: var(--color-dark-gray);
  padding: 70px 0 100px;
  font-size: 0.85rem;
}

.tab-area input:checked + label {
  border: 1px solid var(--color-black);
  border-radius: 32px;
}

.tab-area input:not(:checked) + label {
  opacity: 0.3;
}

.tab-area #tab1:checked ~ #content1,
.tab-area #tab2:checked ~ #content2,
.tab-area #tab3:checked ~ #content3,
.tab-area #tab4:checked ~ #content4 {
  display: block;
}

@media (max-width: 768px) {
  .tab-content {
    padding: 30px 1rem;
  }
  .tab-content img {
    width: 100%;
  }
}
