{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="wrapper">

  <!-- TITLE -->
  <div class="basket-title order-done-title">
    <h1 class="title">
      관심상품
    </h1>
    <h2 class="step">
      <span>홈 ></span>
      <span> 마이페이지 ></span>
      <span> 관심상품</span>
    </h2>
  </div>

  <!-- MYLIKES-BUTTONS -->
  <div class="mylikes-btns">
    <button>전체상품주문</button>
    <button>관심상품 비우기</button>
  </div>

  <!-- MYLIKES -->
  <section class="basket-info mylikes">
    <div class="titles">
      <div class="check">
        <input type="checkbox" id="checkboxTop">
        <label for="checkboxTop"></label>
      </div>
      <div class="title biInfo mlInfo">상품정보</div>
      <div class="title biPrice mlPrice">판매가</div>
      <div class="title mlChoice">선택</div>
    </div>
    <div class="contents">
      <div class="content check">
        <input type="checkbox" id="checkbox">
        <label for="checkbox"></label>
      </div>
      <div class="content biInfo mlInfo">
        <img src="https://juntooling.com/web/product/small/202111/7a5a2d420395bfd413db8b9b6220898b.jpg"
          alt="product-image">
        <p>준엔지니어링 고급형 슈나이더 원형톱날 10인치 100T 목재용</p>
        <div class="delete-btn">
          <i class="fa-solid fa-x"></i>
        </div>
      </div>
      <div class="content biPrice mlPrice">3,045,000원</div>
      <div class="content mlChoice">
        <button>상품주문하기</button>
        <button>장바구니담기</button>
      </div>
    </div>
    <div class="contents">
      <div class="content check">
        <input type="checkbox" id="checkbox">
        <label for="checkbox"></label>
      </div>
      <div class="content biInfo mlInfo">
        <img src="https://juntooling.com/web/product/small/202111/7a5a2d420395bfd413db8b9b6220898b.jpg"
          alt="product-image">
        <p>준엔지니어링 고급형 슈나이더 원형톱날 10인치 100T 목재용</p>
        <div class="delete-btn">
          <i class="fa-solid fa-x"></i>
        </div>
      </div>
      <div class="content biPrice mlPrice">3,045,000원</div>
      <div class="content mlChoice">
        <button>상품주문하기</button>
        <button>장바구니담기</button>
      </div>
    </div>
    <div class="contents">
      <div class="content check">
        <input type="checkbox" id="checkbox">
        <label for="checkbox"></label>
      </div>
      <div class="content biInfo mlInfo">
        <img src="https://juntooling.com/web/product/small/202111/7a5a2d420395bfd413db8b9b6220898b.jpg"
          alt="product-image">
        <p>준엔지니어링 고급형 슈나이더 원형톱날 10인치 100T 목재용</p>
        <div class="delete-btn">
          <i class="fa-solid fa-x"></i>
        </div>
      </div>
      <div class="content biPrice mlPrice">3,045,000원</div>
      <div class="content mlChoice">
        <button>상품주문하기</button>
        <button>장바구니담기</button>
      </div>
    </div>
  </section>
<!-- test 출력-->
  <section>
    {% if users.like_products.all %}
      <!-- 버튼 -->
      <!-- 로그인 사용자와 프로필 사용자가 같을경우 버튼 표시 -->
      {% if request.user.pk == users.pk %}
        <button class="btn btn-dark">
          삭제하기
        </button>
      </div>
      {% endif %}
      <!-- 찜 목록 -->
      <form action="" method="POST" name='delete_form' id="like_form">
        <div class="">
          {% if users.like_products.all %}
            {% for product in users.like_products.all %}
              {% csrf_token %}
              <div class="">
                <a href="{% url "products:detail" product.pk %}" class="d-flex">
                  <input class="checkbox" type="checkbox" name="answer[]" id="opt-in" value="{{ product.pk }}"/>
                  <img class="" src="{{ product.image_main1.url }}" alt="wishlist-img"/>
                  <p class="">{{ product.name }}</p>
                  <p class="">{{ product.price|intcomma }}원</p>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </form>
    {% else %}
      <h1 class="">위시리스트가 없어요...</h1>
    {% endif %}

  </section>
</div>
{% endblock content %}