{% extends 'base.html' %}


{% block content %}
<div class="wrapper">

  <!-- TITLE -->
  <div class="basket-title order-done-title">
    <h1 class="title">
      게시물 관리
    </h1>
    <h2 class="step">
      <span>홈 ></span>
      <span> 마이페이지 ></span>
      <span> 게시물 관리</span>
    </h2>
  </div>

  <!-- POSTING -->
  <section class="posting">
    <h2 class="title">활동 내역</h2>
    <div class="contents">

      <!-- Posting-tab-area -->
      <div class="posting-tab-area">
        <input type="radio" name="posting-tabs" id="작성한후기" checked>
        <label for="작성한후기">내가 작성한 후기</label>
        <input type="radio" name="posting-tabs" id="작성한댓글">
        <label for="작성한댓글">내가 작성한 댓글</label>

        <!-- 작성한후기 -->
        <div class="posting-tab-content" id="작성한후기">
          <!-- content -->
          <div class="content">
            <div class="content-wrap">
              <!-- content-top -->
              <div class="top">
                <div class="starbox">
                  <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="date">
                    23.01.31
                  </div>
                  <div class="bar">|</div>
                  <div class="btns">
                    <button>수정</button>
                    <button>삭제</button>
                  </div>
                </div>
                <div class="product-name">
                  <p>상품명 | 옵션</p>
                </div>
              </div>
              <!-- content-bottom -->
              <div class="bottom">
                <div class="text">
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                </div>
              </div>
            </div>
            <!-- product-image -->
            <div class="product-img">
              <img src="https://juntooling.com/web/product/big/202203/e2458a4e4ef33be1632dd19bddb9f503.jpg"
                alt="product-image">
            </div>
          </div>
          <div class="content">
            <div class="content-wrap">
              <!-- content-top -->
              <div class="top">
                <div class="starbox">
                  <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                  </div>
                  <div class="date">
                    23.01.31
                  </div>
                  <div class="bar">|</div>
                  <div class="btns">
                    <button>수정</button>
                    <button>삭제</button>
                  </div>
                </div>
                <div class="product-name">
                  <p>상품명 | 옵션</p>
                </div>
              </div>
              <!-- content-bottom -->
              <div class="bottom">
                <div class="text">
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                  설치가 조금 걱정됐는데 셀프로 비교적 간단히 할 수 있었어요!
                </div>
              </div>
            </div>
            <!-- product-image -->
            <div class="product-img">
              <img src="https://juntooling.com/web/product/big/202203/e2458a4e4ef33be1632dd19bddb9f503.jpg"
                alt="product-image">
            </div>
          </div>
        </div>
        <!-- 작성한댓글 -->
        <div class="posting-tab-content" id="작성한댓글">작성한댓글</div>
      </div>

    </div>
  </section>

</div>
{% endblock content %}