{% extends 'base.html' %}

{% block content %}
<div class="wrapper">

  <!-- COMMUNITY -->
  <div class="community">

    <!-- COMMUNITY / ASIDE -->
    <aside class="aside">
      <h1 class="aside__title">고객센터</h1>
      <ul class="aside__list">
        <li class="aside__item"><a href="#">메인</a></li>
        <li class="aside__item"><a href="#">자주 묻는 질문</a></li>
        <ul class="aside__item">
          <li class="aside__item__inner"><a href="#">BEST 10</a></li>
          <li class="aside__item__inner"><a href="#">회원</a></li>
          <li class="aside__item__inner"><a href="#">반품/교환/환불</a></li>
          <li class="aside__item__inner"><a href="#">주문/결제</a></li>
          <li class="aside__item__inner"><a href="#">배송/수령일 안내</a></li>
          <li class="aside__item__inner"><a href="#">기타</a></li>
        </ul>
        </li>
        <li class="aside__item"><a href="#">1:1 문의</a></li>
        <li class="aside__item"><a href="#">공지사항</a></li>
        <li class="aside__item"><a href="#">자유게시판</a></li>
      </ul>
    </aside>

    <!-- COMMUNITY / SERVICE -->
    <main class="service">
      <h2 class="title">
        무엇을 도와드릴까요?<br />
        <span class="bold">준툴링 고객센터</span>입니다.
      </h2>
    </main>

  </div>

</div>
{% endblock content %}