{% extends 'base.html' %}

{% block content %}
<div class="wrapper">

  <!-- COMMUNITY -->
  <div class="community">

    <!-- COMMUNITY / ASIDE -->
    <aside class="aside">
      <h1 class="aside__title">고객센터</h1>

      <ul class="aside__list">
        <li class="aside__item"><a href="{% url 'community:index' %}">메인</a></li>
        <li class="aside__item"><a href="{% url 'community:question' %}">자주 묻는 질문</a></li>
        <li class="aside__item"><a href="{% url 'community:qna' %}">1:1 문의</a></li>
        <li class="aside__item"><a href="{% url 'community:notice' %}">공지사항</a></li>
      </ul>

    </aside>

    <!-- COMMUNITY / NOTICE -->
    <main class="service notice-page">

      <!-- Question -->
      <section class="question">
        <h5 class="question__title notice__title">공지사항</h5>
        <div class="question__search">
          <form>
            <input type="text" placeholder="검색어를 입력해 보세요.">
            <button>검색</button>
          </form>
        </div>
      </section>

      <!-- Notice * going to use django pagination -->
      <seciton class="notice">
        <!-- notice-top -->
        <div class="notice__top">
          <h5 class="notice__title"><span>{{ notices|length }}</span> 건</h5>
          <p class="notice__more">
            <select name="">
              <option value="">전체</option>
              <option value="">유형별 나누기</option>
              <option value="">유형별 나누기</option>
              <option value="">유형별 나누기</option>
            </select>
          </p>
        </div>
        <!-- notice-bottom -->
        <div class="notice__bottom">
          <div class="notice__no">
            <span>NO</span>
            <span>공지제목</span>
            <span>유형</span>
            <span>날짜</span>
          </div>
          <!-- notice-item -->
          {% for notice in page_obj %}
          <div class="notice__item">
            <span>{{ notice.no }}</span>
            <span><a href="#">{{ notice.title }}</a></span>
            <span>{{ notice.type }}</span>
            <span>{{ notice.date|date:'Y.m.d' }}</span>
          </div>
          {% endfor %}
        </div>

        {% if page_obj.has_other_pages %}
        <ul class="page-controller">

          {% if page_obj.has_previous %}
          <li class="prev">
            <a href="?page={{ page_obj.previous_page_number }}">
              <i class="fa-solid fa-chevron-left"></i>
            </a>
          </li>
          {% endif %}

          {% for page in custom_range %}
          {% if page == page_obj.number %}
          <li><a class="active" href="?page={{ page }}">{{ page }}</a></li>
          {% else %}
          <li><a href="?page={{ page }}">{{ page }}</a></li>
          {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="next">
            <a href="?page={{ page_obj.next_page_number }}">
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </li>
          {% endif %}

        </ul>
        {% endif %}

      </seciton>

    </main>

  </div>

</div>
{% endblock content %}