@import 'accounts/accounts.css';
@import 'products/detail.css';

/* VARIAVLE */
:root {
  --color-main: #243763;
  --color-pink: #ffc6d3;
  --color-accent: #ff6e31;
  --color-sky: #82c3ec;
  --color-white: #ffffff;
  --color-black: #000;
  --color-font: #1d1d1d;
  --color-gray: #b7b7b7;
  --color-dark-gray: #6e6e6e;
  --color-light-gray: #f5f5f5;
  --color-border: #d2d2d2;
  --color-header: #3a3a3a;
  --color-section: #f5f5f5;
  --color-shadow: rgba(0, 0, 0, 0.4);
}

/* GLOVAL */
* {
  box-sizing: border-box;
}

body {
  height: 2000px;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: var(--color-font);
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
}

/* HEADER */
.header {
  border: 1px solid var(--color-border);
}

.header--fixed {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
/* header-nav */
.nav-wrapper {
  background-color: var(--color-light-gray);
}

.nav__items {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}

.nav__item {
  position: relative;
}

.nav__item a {
  padding: 0 16px;
  font-size: 14px;
  color: var(--color-dark-gray);
}

.nav__items li:last-child a {
  padding-right: 0;
}

.nav__item::after {
  content: '';
  width: 1px;
  height: 60%;
  display: block;
  background-color: var(--color-dark-gray);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.nav__item:first-child::after {
  content: none;
}

/* header-inner */
.inner__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* header-inner-search */
.inner__search--wrap {
  display: flex;
  align-items: center;
}

.inner__logo a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-main);
  margin-right: 2rem;
  padding-top: 8px;
}

.inner__search {
  display: flex;
  align-items: center;
  height: 48px;
  position: relative;
  color: var(--color-main);
}

.inner__search input {
  width: 500px;
  height: 48px;
  padding: 8px 16px;
  border-radius: 30px;
  outline: none;
  border: 1px solid var(--color-main);
  color: var(--color-main);
  font-size: 1rem;
}

.inner__search input:focus {
  border-color: var(--color-main);
}

.inner__search__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  font-size: 1.5rem;
  color: var(--color-main);
  cursor: pointer;
}

.inner__btn {
  font-size: 1.5rem;
  margin-left: 32px;
  padding: 8px 12px;
}

.inner__btn:hover {
  cursor: pointer;
}

.inner__btn.accent {
  background: rgb(36, 55, 99);
  background: linear-gradient(
    158deg,
    rgba(36, 55, 99, 0.7894345238095238) 0%,
    rgba(36, 55, 99, 1) 59%,
    rgba(36, 55, 99, 1) 100%
  );
  color: var(--color-white);
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgb(36, 55, 99);
}

/* header-inner-menu */
.inner__menu {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  position: relative;
}

.inner__menu__icon {
  width: 45px;
  height: 45px;
  border: 1px solid var(--color-font);
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 2rem;
}

.inner__menu__items {
  display: flex;
  align-items: center;
}

.inner__menu__item {
  position: relative;
}

.inner__menu__item:hover .dropdown {
  display: block;
}

.inner__menu__item a {
  padding: 8px 16px;
}

.inner__menu__item::before {
  content: '·';
}

.inner__menu__item:first-child:before {
  content: none;
}

/* header-inner-category */
.category__wrap {
  z-index: 3;
  display: none;
  position: absolute;
  top: 88px;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  padding: 32px 0;
  border: 1px solid var(--color-black);
  border-radius: 16px;
}

.category__wrap.active {
  display: block;
}

.category__wrap__title {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 32px 16px;
}

.category__content {
  display: flex;
  padding: 0 32px 16px;
  margin-top: 16px;
}

.category {
  width: 180px;
  margin-right: 8px;
  font-size: 14px;
}

.category__title {
  width: 100%;
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-border);
  font-size: 16px;
  font-weight: 500;
}

.category__title:first-child {
  padding-left: 0;
}

.category__item {
  margin: 18px 0;
}

.category__item:hover .category__item__title {
  text-decoration: underline;
}

.category__item:hover .sub-category {
  display: block;
  text-decoration: none;
}

.sub-category {
  display: none;
}

.sub-category__item {
  margin: 16px 0;
}

.sub-category__item a {
  opacity: 0.6;
  transition: 300ms;
}

.sub-category__item a:hover {
  opacity: 1;
}

.category__bottom {
  margin: 32px;
}

.service__list {
  display: flex;
}

.service__item {
  margin-right: 32px;
  text-align: center;
  cursor: pointer;
}

.service__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 16px;
  color: var(--color-white);
  font-size: 2.5rem;
}

.service__item:nth-child(1) .service__icon {
  background-color: var(--color-main);
}

.service__item:nth-child(2) .service__icon {
  background-color: var(--color-pink);
}

.service__item:nth-child(3) .service__icon {
  background-color: var(--color-sky);
}

.service__title {
  margin-top: 8px;
  color: var(--color-header);
  font-size: 14px;
  font-weight: 500;
}

/* header-inner-menu-dropdown */
.dropdown {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: var(--color-white);
  width: 180px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 14px;
}

.dropdown__item {
  position: relative;
  padding: 12px 8px;
  transition: 300ms;
}

.dropdown__item:hover {
  background-color: var(--color-border);
}

.dropdown__item:first-child:hover {
  border-radius: 7px 7px 0 0;
}

.dropdown__item:last-child:hover {
  border-radius: 0 0 7px 7px;
}

.dropdown__item:hover .sub-dropdown {
  display: block;
}

.sub-dropdown {
  display: none;
  position: absolute;
  top: -1px;
  right: -160px;
  background-color: var(--color-white);
  width: 160px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.sub-dropdown__item {
  padding: 12px 8px;
  transition: 300ms;
}

.sub-dropdown__item:hover {
  background-color: var(--color-border);
}

.sub-dropdown__item:first-child:hover {
  border-radius: 7px 7px 0 0;
}

.sub-dropdown__item:last-child:hover {
  border-radius: 0 0 7px 7px;
}

/* header-nav-fixed */
#nav--fixed {
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid var(--color-border);
  display: none;
}

/* FOOTER */
.footer {
  text-align: center;
  cursor: default;
}

.footer span.accent {
  font-weight: bold;
}

/* footer-top */
.footer-top {
  border: 1px solid var(--color-main);
}

.footer__items {
  display: flex;
  justify-content: center;
}

.footer__item {
  padding: 8px 32px;
}

/* footer-body */
.footer-body {
  padding: 32px 0 16px;
}

.footer__logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-main);
  text-transform: uppercase;
}

.footer__info {
  margin: 16px 0;
}

.footer__info__texts {
  margin-top: 8px;
}

.footer__info__texts span {
  padding: 0 12px;
}

.footer__info__texts span.accent {
  padding: 0;
}

.footer__tel {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 24px 0;
}

.footer__tel span {
  font-size: 1.8rem;
  color: var(--color-main);
}

.footer__time {
  text-transform: uppercase;
}

.footer__sns__btn {
  margin: 16px 8px 0;
  font-size: 2rem;
  cursor: pointer;
}

/* footer-bottom */
.footer-bottom {
  background-color: var(--color-main);
  color: var(--color-white);
  text-transform: capitalize;
  padding: 8px 0;
}

.footer-bottom span {
  text-transform: uppercase;
}
