/* COMMUNITY */
.community {
  position: relative;
  width: 100%;
  display: flex;
}

/* COMMUNITY / SERVICE-ASIDE */
.community .aside {
  position: sticky;
  top: 89px;
  left: 0;
  width: 25%;
  height: 100vh;
  padding-top: 3rem;
}

.community .aside__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.community .aside__item {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.community .aside__item__inner {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.8rem;
}

.community .aside__item__inner:last-child {
  padding-bottom: 0;
}

/* COMMUNITY / SERVICE */
.community .service {
  flex-grow: 1;
  padding-top: 3rem;
  height: 2000px;
}

.community .service .title {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  line-height: 1.8rem;
}
