{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}" />
  <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- Fontawesome -->
  <script defer src="https://kit.fontawesome.com/3ef4088aa9.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="signup">
    <header>
      <div class="title_signup">
        <a href="{% url 'products:index' %}" class="a_signup">JUNTOOLING</a>
      </div>
    </header>

    <main class="contents_signup">
      <section>
        <div class="title2_wrap_signup">
          <div class="title2_signup">회원가입</div>
        </div>
      </section>

      <section class="section2_signup">
        <div class="sns_title_signup">SNS계정으로 간편하게 회원가입</div>
        <div class="btn_wrap">
          <!-- 네이버 -->
          <button class="btn_naver"></button>
          <!-- 카카오 -->
          <button class="btn_kakao"></button>
          <!-- 구글 -->
          <button class="btn_google"></button>
        </div>
      </section>

      <section class="section3_signup">
        <div class="title3_signup">회원정보 입력</div>
        <div>
          <span class="asterisk">*</span><span class="title4_signup">필수 입력</span> 
        </div>
      </section>

      <!-- 회원정보 입력 -->
      <main>
        <form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data" class="was-validated">
          {% csrf_token %}

          <!-- 아이디 -->
          <label class="label_signup" for="username">아이디</label><span class="asterisk">*</span>
          <div class="signup_field">
            {% render_field form.username class="input_effect form-control" placeholder="아이디를 입력해 주세요" type="text" id="username" %}
          </div>

          <!-- 비밀번호 -->
          <label class="label_signup" for="password">비밀번호</label><span class="asterisk">*</span>
          <div class="signup_field">
            {% render_field form.password1 class="input_effect form-control" placeholder="비밀번호를 입력해 주세요" type="password" id="password1" %}
          </div>
          <!-- 비밀번호 안내 -->
          <div class="info_password">
            <div class="check_wrap">
              <i class="fa-solid fa-check"></i><span>영문, 숫자, 특수문자 3가지 조합 8자리 이상 또는<br>&nbsp;&nbsp;&nbsp;&nbsp;2가지 조합 10자리 이상</span>
            </div>
            <div>
              <i class="fa-solid fa-check"></i><span>공백 및 3자 이상의 연속 또는 중복 문자는 사용 불가</span>
            </div>
          </div>

          <!-- 비밀번호 확인 -->
          <label class="label_signup" for="password">비밀번호 확인</label><span class="asterisk">*</span>
          <div class="signup_field">
            {% render_field form.password2 class="input_effect form-control" placeholder="비밀번호를 한 번 더 입력해 주세요" type="password" id="password2" %}
          </div>

          <!-- 회원 -->
          <label class="label_signup" for="user_type">회원</label><span class="asterisk">*</span>
          <div class="signup_field">
            {% render_field form.user_type class="input_effect form-control" id="user_type" %}
          </div>

          <!-- 상호명 / 법인명 -->
          <div class="company signup_field" style="display: none;">
            <label class="label_signup" for="name">상호명 / 법인명</label><span class="asterisk">*</span>
            {% render_field form.company class="input_effect form-control" placeholder="상호명 / 법인명을 입력해주세요" %}
          </div>

          <!-- 사업자번호 (개인사업자) -->
          <div class="per_company_number signup_field" style="display: none;">
            <label class="label_signup" for="name">사업자번호</label><span class="asterisk">*</span>
            {% render_field form.per_company_number class="input_effect form-control" placeholder="숫자만 입력해 주세요" %}
          </div>

          <!-- 법인번호 (법인사업자) -->
          <div class="company_number signup_field" style="display: none;">
            <label class="label_signup" for="name">법인번호</label><span class="asterisk">*</span>
            {% render_field form.company_number class="input_effect form-control" placeholder="숫자만 입력해 주세요" %}
          </div>
      
          <!-- 이름 -->
          <label class="label_signup" for="name">이름</label><span class="asterisk">*</span>
          <div class="signup_field">
            {% render_field form.first_name class="input_effect form-control" placeholder="이름을 입력해 주세요" type="text" id="first_name" %}
          </div>

          <!-- 주소 -->
          <label class="label_signup" for="address">주소</label><span class="asterisk">*</span><br>
          <button class="btn_address" onclick="searchAddress()">주소검색</button>
          <div class="signup_field">
            {% render_field form.address class="input_effect form-control" placeholder="주소" id="address" %}
          </div>
          <!-- 나머지 주소 -->
          <input class="detail_address" type="text" placeholder="나머지 주소">

          <!-- 휴대전화 -->
          <label class="label_signup" for="phone_number">휴대전화</label><span class="asterisk">*</span>
          <div class="signup_field">
            {% render_field form.phone_number class="input_effect form-control" placeholder="숫자만 입력해 주세요" type="number" id="phone_number" %}
          </div>

          <!-- 이메일 -->
          <label class="label_signup" for="email">이메일</label><span class="asterisk">*</span>
          <div class="signup_field">
            {% render_field form.email class="input_effect form-control" placeholder="이메일을 입력해 주세요" type="email" id="email" %}
          </div>

          <!-- 생년월일 -->
          <label class="label_signup" for="birth">생년월일</label><span class="asterisk">*</span>
          <div class="signup_field">
            {% render_field form.birth class="input_effect form-control" type="date" id='birth' %}
          </div>

          <!-- 서비스 이용약관 -->
          <div class="service_wrap">
            <div class="title5_signup">서비스 이용약관 동의</div>
            <hr>

            <!-- 체크박스 동의 1 -->
            <div class="chk_box_wrap">
              <label for="agree" class="chk_box">
                <input type="checkbox" id="agree" required>
                <span class="on"></span>
                이용약관 동의
                <span class="agree_signup">(필수)</span>
              </label>

              <div class="see_signup">내용보기</div>
            </div>

            <!-- 체크박스 동의 2 -->
            <div class="chk_box_wrap">
              <label for="agree2" class="chk_box2">
                <input type="checkbox" id="agree2"/>
                <span class="on2"></span>
                개인정보 처리방침 동의
                <span class="agree_signup">(필수)</span>
              </label>

              <div class="see_signup">내용보기 </div>
            </div>

            <!-- 체크박스 동의 3 -->
            <div class="chk_box_wrap">
              <label for="agree3" class="chk_box3">
                <input type="checkbox" id="agree3"/>
                <span class="on3"></span>
                쇼핑정보 수신 동의
                <span class="agree2_signup">(선택)</span>
              </label>

              <div class="see_signup">내용보기 </div>
            </div>
          </div>
          
          <!-- 회원가입 버튼 -->
          <input class="btn_signup" type="submit" value="회원가입">
        </form>
    </main>

  </div>
</body>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

  function searchAddress() {
    new daum.Postcode({
      oncomplete: function (data) {

        // 도로주소
        roadAddress = data.roadAddress;

        document.getElementById("address").value = roadAddress;
      }
    }).open();
  }

</script>

<script>

var user_type = document.querySelector("#user_type");
// 상호명 / 법인명
var company = document.querySelector(".company");
// 사업자번호
var per_company_number = document.querySelector(".per_company_number");
// 법인번호
var company_number = document.querySelector(".company_number");

user_type.addEventListener("click", function() {
  if (user_type.value==="개인사업자") {
    company_number.style.display = 'none';
    company.style.display = 'block';
    per_company_number.style.display = 'block';
  } else if (user_type.value==="법인사업자") {
    per_company_number.style.display = 'none';
    company.style.display = 'block';
    company_number.style.display = 'block';
  } else {
    company.style.display = 'none';
    per_company_number.style.display = 'none';
    company_number.style.display = 'none';
  }
})

</script>

</html>