/* 회원가입 (signup.html) */

.signup {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.title_signup {
  text-align: center;
}

.a_signup {
  width: 400px;
  color: #243763;
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
}

.contents_signup {
  width: 400px;
  padding: 50px 0 100px;
  margin: 0 auto;
}

/* 회원가입 */
.title2_wrap_signup {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.title2_signup {
  font-size: 20px;
  font-weight: 700;
}

/* SNS */
.section2_signup {
  padding: 30px 0;
  border-bottom: 1px solid rgb(237, 237, 237);
}
.sns_title_signup {
  color: #757575;
  font-size: 12px;
  text-align: center;
}

/* 회원정보 입력 / 필수 입력 */
.section3_signup {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.title3_signup {
  font-size: 18px;
  font-weight: 700;
}
.asterisk {
  margin: 0 3px;
  color: #f77;
}
.title4_signup {
  color: rgb(130, 140, 148);
  font-size: 13px;
}

/* 회원정보 입력 - 전체 label */
.label_signup {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}

/* 전체 입력란 */
.signup_field {
  width: 100%;
  padding: 8px 15px 9px;
  margin-bottom: 15px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  font-size: 15px;
}

/* input 글씨 */
.input_effect {
  width: 100%;
  border: #fff;
}

/* input 클릭 시 생기는 테두리 제거 */
input:focus {
  outline: none;
}

/* 비밀번호 안내 */
.info_password {
  margin-bottom: 15px;
  color: rgb(130, 140, 148);
  font-size: 14px;
}
.check_wrap {
  margin-bottom: 5px;
}
.fa-check {
  margin-right: 4px;
}

/* 주소검색 버튼 */
.btn_address {
  width: 50%;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  background-color: #767676;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.btn_address:hover{
  background-color: #243763;
}

/* 나머지 주소 */
.detail_address {
  width: 100%;
  padding: 8px 15px 9px;
  margin-bottom: 15px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 4px;
  font-size: 15px;
}

/* 서비스 이용약관 */
.service_wrap {
  padding: 20px 0;
}

.title5_signup {
  font-size: 20px;
  font-weight: 700;
}

/* 체크박스 / 내용보기 */
.chk_box_wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

/* 각 체크박스 전체 */
.chk_box, .chk_box2, .chk_box3 { 
  display: block; 
  position: relative; 
  cursor: pointer; 
  padding-left: 25px; 
  font-size: 16px;
}

/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"], .chk_box2 input[type="checkbox"], .chk_box3 input[type="checkbox"] { 
  display: none; 
}

/* 선택되지 않은 체크박스 스타일 */
.on, .on2, .on3 { 
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(218, 221, 224);
  border-radius: 4px; 
  top: 3px; 
  left: 0; 
}

/* 선택된 체크박스 스타일 */
.chk_box input[type="checkbox"]:checked + .on, .chk_box2 input[type="checkbox"]:checked + .on2, .chk_box3 input[type="checkbox"]:checked + .on3 { 
  background: #243763; 
}
.chk_box input[type="checkbox"]:checked + .on:after, .chk_box2 input[type="checkbox"]:checked + .on2:after, .chk_box3 input[type="checkbox"]:checked + .on3:after { 
  display: block;
}
.on:after, .on2:after, .on3:after { 
  position: absolute; 
  content: "";
  width: 6px; 
  height: 10px; 
  border: solid #fff;
  border-width: 0 2px 2px 0; 
  -webkit-transform: rotate(45deg); 
  -ms-transform: rotate(45deg); 
  transform: rotate(45deg); 
  top: 2px; 
  left: 6px; 
}

/* 체크 - 필수 */
.agree_signup {
  color: #f77
}

/* 체크 - 선택 */
.agree2_signup {
  color: rgb(130, 140, 148);
}

/* 내용보기 */
.see_signup {
  color: rgb(130, 140, 148);
  font-size: 14px;
}

/* 회원가입 버튼 */
.btn_signup {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #243763;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.btn_signup:hover {
  background-color: #5055b1;
}