<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <title>Document</title>
  <!-- bootstrap5 CDN -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!-- Swiper CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <!-- Fontawesome -->
  <script defer src="https://kit.fontawesome.com/3ef4088aa9.js" crossorigin="anonymous"></script>
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
  <!-- reset CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <!-- Main JS -->
  <script defer src="{% static 'js/main.js' %}"></script>
</head>

{% block css %}{% endblock css %}

<body>

  <!--HEADER -->
  <header class="header">

    <!--Nav -->
    <nav class="navi">

      <!-- Nav-wrapper -->
      <div class="nav-wrapper">
        <ul class="nav__items wrapper">
          {% if request.user.is_authenticated %}
            <li class="nav__item"><a href="{% url 'users:logout' %}">로그아웃</a></li>
            <li class="nav__item"><a href="{% url 'users:myshop' request.user.pk %}">마이쇼핑</a></li>
          {% else %}
            <li class="nav__item"><a href="{% url 'users:signup' %}">회원가입</a></li>
            <li class="nav__item"><a href="{% url 'users:login' %}">로그인</a></li>
          {% endif %}
          <li class="nav__item"><a href="{% url 'community:index' %}">커뮤니티</a></li>
        </ul>
      </div>

      <!-- Inner -->
      <div class="inner wrapper">
        <!-- inner-search -->
        <div class="inner__wrap">
          <div class="inner__search--wrap">
            <!-- inner-menu-icon -->
            <button class="inner__menu__icon">
              <i class="fa-solid fa-bars"></i>
            </button>
            <!-- category -->
            <div class="category__wrap wrapper">
              <h4 class="category__wrap__title">:: 카테고리 전체보기</h4>
              <ul class="category__content">

                <li class="category">
                  <a class="category__title" href="#">준엔지니어링</a>
                  <dl class="category__items">
                    <dd class="category__item">
                      <a class="category__item__title" href="#">슬라이딩/테이블쏘 👉</a>
                      <dl class="sub-category">
                        <dd class="sub-category__item"><a href="#">테이블쏘</a></dd>
                        <dd class="sub-category__item"><a href="#">테이블쏘 톱날</a></dd>
                      </dl>
                    </dd>
                    <dd class="category__item"><a class="category__item__title" href="#">연장/보조테이블</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">원형톱/톱날/루터</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">집진기</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">실린더/경첩조기대</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">망치걸이/타카걸이</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">원형톱 작업대가이드</a></dd>
                  </dl>
                </li>
                <li class="category">
                  <a class="category__title" href="#">목공기계</a>
                  <dl class="category__items">
                    <dd class="category__item">
                      <a class="category__item__title" href="#">슬라이딩/테이블쏘 👉</a>
                      <dl class="sub-category">
                        <dd class="sub-category__item"><a href="#">테이블쏘</a></dd>
                        <dd class="sub-category__item"><a href="#">테이블쏘 톱날</a></dd>
                        <dd class="sub-category__item"><a href="#">테이블쏘 안전카바</a></dd>
                      </dl>
                    </dd>
                    <dd class="category__item"><a class="category__item__title" href="#">작업대</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">연장/보조테이블</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">집진기</a></dd>
                  </dl>
                </li>
                <li class="category">
                  <a class="category__title" href="#">목공구/수공구</a>
                  <dl class="category__items">
                    <dd class="category__item"><a class="category__item__title" href="#">실린더/경첩조기대</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">망치걸이/타카걸이</a></dd>
                  </dl>
                </li>
                <li class="category">
                  <a class="category__title" href="#">전동공구</a>
                  <dl class="category__items">
                    <dd class="category__item"><a class="category__item__title" href="#">충전공구</a></dd>
                    <dd class="category__item">
                      <a class="category__item__title" href="#">전기공구 👉</a>
                      <dl class="sub-category">
                        <dd class="sub-category__item"><a href="#">전기 원형톱</a></dd>
                      </dl>
                    </dd>
                    <dd class="category__item">
                      <a class="category__item__title" href="#">에어공구 👉</a>
                      <dl class="sub-category">
                        <dd class="sub-category__item"><a href="#">에어타카</a></dd>
                      </dl>
                    </dd>
                    <dd class="category__item"><a class="category__item__title" href="#">엔진공구</a></dd>
                    <dd class="category__item"><a class="category__item__title" href="#">전동공구 소모품</a></dd>
                  </dl>
                </li>
                <li class="category">
                  <a class="category__title" href="#">부품</a>
                </li>
                <li class="category">
                  <a class="category__title" href="#">기타</a>
                </li>
                <li class="category">
                  <a class="category__title" href="#">마끼다</a>
                  <dl class="category__items">
                    <dd class="category__item"><a class="category__item__title" href="#">마끼다</a></dd>
                  </dl>
                </li>

              </ul>
              <div class="category__bottom">
                <div class="service__list">
                  <div class="service__item">
                    <div class="service__icon">
                      <i class="fa-solid fa-headset"></i>
                    </div>
                    <div class="service__title">고객센터</div>
                  </div>
                  <div class="service__item">
                    <div class="service__icon">
                      <i class="fa-solid fa-microphone"></i>
                    </div>
                    <div class="service__title">1:1 문의</div>
                  </div>
                  <div class="service__item">
                    <div class="service__icon">
                      <i class="fa-regular fa-keyboard"></i>
                    </div>
                    <div class="service__title">자유게시판</div>
                  </div>
                </div>
              </div>
            </div>
            <h1 class="inner__logo"><a href="{% url 'products:index' %}">준툴링</a></h1>
            <div class="inner__search">
              <input type="text" placeholder="검색어를 입력하세요.">
              <button class="inner__search__icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
          <div class="inner__btns">
            {% if request.user.is_authenticated %}
            <a href="{% url 'users:mylikes' request.user.pk %}">
              <button class="inner__btn">
                <i class="fa-solid fa-basket-shopping"></i>
              </button>
            </a>
            <a href="{% url 'users:myshop' request.user.pk %}">
              <button class="inner__btn accent">
                <i class="fa-regular fa-user"></i>
              </button>
            </a>
            {% endif %}
          </div>
        </div>
        <!-- inner-menu -->
        <div class="inner__menu">
          <!-- inner-menu-items -->
          <ul class="inner__menu__items">
            <li class="inner__menu__item">
              <a href="#">베스트</a>
            </li>
            <li class="inner__menu__item">
              <a href="#">신상품</a>
            </li>
            <li class="inner__menu__item">
              <a href="#">준엔지니어링</a>
              <!-- dropdown -->
              <dl class="dropdown">
                <dd class="dropdown__item">
                  <a href="#">슬라이딩/테이플쏘 👉</a>
                  <dl class="sub-dropdown">
                    <dd class="sub-dropdown__item"><a href="#">테이블쏘</a></dd>
                    <dd class="sub-dropdown__item"><a href="#">테이블쏘 톱날</a></dd>
                  </dl>
                </dd>
                <dd class="dropdown__item"><a href="#">연장/보조테이블</a></dd>
                <dd class="dropdown__item"><a href="#">원형톱/톱날/루터</a></dd>
                <dd class="dropdown__item"><a href="#">집진기</a></dd>
                <dd class="dropdown__item"><a href="#">실린더/경첩조기대</a></dd>
                <dd class="dropdown__item"><a href="#">망치걸이/타카걸이</a></dd>
                <dd class="dropdown__item"><a href="#">원형톱 작업대가이드</a></dd>
              </dl>
            </li>
            <li class="inner__menu__item">
              <a href="#">목공기계</a>
              <dl class="dropdown">
                <dd class="dropdown__item">
                  <a href="#">슬라이딩/테이블쏘 👉</a>
                  <dl class="sub-dropdown">
                    <dd class="sub-dropdown__item"><a href="#">테이블쏘</a></dd>
                    <dd class="sub-dropdown__item"><a href="#">테이블쏘 톱날</a></dd>
                    <dd class="sub-dropdown__item"><a href="#">테이블쏘 안전카바</a></dd>
                  </dl>
                </dd>
                <dd class="dropdown__item"><a href="#">작업대</a></dd>
                <dd class="dropdown__item"><a href="#">연장/보조테이블</a></dd>
                <dd class="dropdown__item"><a href="#">집진기</a></dd>
              </dl>
            </li>
            <li class="inner__menu__item">
              <a href="#">목공구/수공구</a>
              <dl class="dropdown">
                <dd class="dropdown__item"><a href="#">실린더/경첩조기대</a></dd>
                <dd class="dropdown__item"><a href="#">망치걸이/타카걸이</a></dd>
              </dl>
            </li>
            <li class="inner__menu__item">
              <a href="#">전동공구</a>
              <dl class="dropdown">
                <dd class="dropdown__item"><a href="#">충전공구</a></dd>
                <dd class="dropdown__item">
                  <a href="#">전기공구 👉</a>
                  <dl class="sub-dropdown">
                    <dd class="sub-dropdown__item item--single"><a href="#">전기 원형톱</a></dd>
                  </dl>
                </dd>
                <dd class="dropdown__item">
                  <a href="#">에어공구 👉</a>
                  <dl class="sub-dropdown">
                    <dd class="sub-dropdown__item item--single"><a href="#">에어타카</a></dd>
                  </dl>
                </dd>
                <dd class="dropdown__item"><a href="#">엔진공구</a></dd>
                <dd class="dropdown__item"><a href="#">전동공구 소모품</a></dd>
              </dl>
            </li>
            <li class="inner__menu__item">
              <a href="#">부품</a>
            </li>
            <li class="inner__menu__item">
              <a href="#">기타</a>
            </li>
            <li class="inner__menu__item">
              <a href="#">마끼다</a>
              <dl class="dropdown">
                <dd class="dropdown__item item--single"><a href="#">원형톱/원형톱날</a></dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>

    </nav>

  </header>

  <!-- CONTENT -->
  <main id="main">
    {% block content %}{% endblock content %}
  </main>

  <!-- FOOTER -->
  <footer class="footer">

    <!-- Footer-top -->
    <div class="footer-top">
      <ul class="footer__items">
        <li class="footer__item"><a href="{% url 'products:index' %}">홈페이지</a></li>
        <li class="footer__item"><a href="{% url 'products:terms' %}">이용약관</a></li>
        <li class="footer__item"><a href="{% url 'products:personal_info' %}">개인정보취급방침</a></li>
        <li class="footer__item"><a href="{% url 'products:use_info' %}">쇼핑몰 이용안내</a></li>
      </ul>
    </div>
    <!-- Footer-body -->
    <div class="footer-body">
      <div class="footer__logo">juntooling</div>
      <div class="footer__info">
        <p class="footer__info__texts">
          <span><span class="accent">회사명:</span> 준툴링</span>
          <span><span class="accent">대표자:</span> 김석기</span>
          <span><span class="accent">팩스:</span> 070-8285-5398</span>
          <span><span class="accent">주소:</span> 경기도 양주시 덕정길 47 (덕정동) 목수들의세상</span>
        </p>
        <p class="footer__info__texts">
          <span><span class="accent">사업자등록번호:</span> 124-65-00339</span>
          <span><span class="accent">통신판매업 신고:</span> 2020-경기양주-0148 [사업자정보확인]</span>
          <span><span class="accent">개인정보책임 관리자:</span> 김석기 (seokki67@naver.com)</span>
        </p>
      </div>
      <div class="footer__tel">
        <p>대표전화 <span>010-2208-0909</span></p>
      </div>
      <div class="footer__time">
        <p>mon-fri 09:00 ~ 17:30 / lunch 12:00 ~ 13:00 토,일, 공휴일 휴무</p>
      </div>
      <div class="footer__sns">
        <button class="footer__sns__btn" style="color: #3b5998"><i class="fa-brands fa-facebook"></i></button>
        <button class="footer__sns__btn" style="background: -webkit-linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;">
          <i class="fa-brands fa-instagram"></i>
        </button>
        <button class="footer__sns__btn" style="color: #c4302b">
          <i class="fa-brands fa-youtube"></i>
        </button>
      </div>
    </div>
    <!-- Footer-bottom -->
    <div class="footer-bottom">
      copyright © <span>juntooling.</span> all rights reserved.
    </div>

  </footer>

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  {% block js %}{% endblock js %}


</body>

</html>