{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- PRODUCT-TOP -->
  <main class="product-top">
    <div class="container">

      <!-- Product Swiper -->
      <div class="productSwiper-container">
        <div class="swiper productSwiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/big/202301/3b7399cf257f9ea0f79fe910928d29d4.jpg" alt="slide-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/big/202301/7629a9935262ab66b3fc8acde80f48d1.jpg" alt="slide-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/big/202110/3d96f458b9b14f441642c963152e6998.jpg" alt="slide-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/big/202110/f9933a0fab095d96c2d69a79b574bb7a.jpg" alt="slide-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/big/202110/f958b55c77532ddf020b699b6718d8db.jpg" alt="slide-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/big/202110/82fdf2954b9e99b355902970a8ed416e.jpg" alt="slide-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/big/202110/7bedbfb46d146bb5d3a75b943df5ce83.jpg" alt="slide-image">
            </li>
          </ul>
          <button class="swiper-button-prev prevBtn"></button>
          <button class="swiper-button-next nextBtn"></button>
        </div>
        <div class="swiper thumbnailSwiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/small/202301/f39d3997160058dffa788255bc4edadc.jpg" alt="product-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/small/202301/7629a9935262ab66b3fc8acde80f48d1.jpg" alt="product-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/small/202110/3d96f458b9b14f441642c963152e6998.jpg" alt="product-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/small/202110/f9933a0fab095d96c2d69a79b574bb7a.jpg" alt="product-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/small/202110/f958b55c77532ddf020b699b6718d8db.jpg" alt="product-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/small/202110/82fdf2954b9e99b355902970a8ed416e.jpg" alt="product-image">
            </li>
            <li class="swiper-slide">
              <img src="https://juntooling.com/web/product/extra/small/202110/7bedbfb46d146bb5d3a75b943df5ce83.jpg" alt="product-image">
            </li>
          </ul>
        </div>
      </div>

      <!-- Product Infomation -->
      <div class="product-info">
        <!-- product info title -->
        <div class="product__title">
          <h1 class="title">준 에폭시 슈나이더테이블쇼 원형톱 목공작업대 테이블소테이블쇼 톱다이 J-S02</h1>
          <h1 class="price">1,430,000원</h1>
        </div>
        <!-- product info table -->
        <table class="product-table">
          <tr>
            <td>적립금</td>
            <td>1%(14,300원)</td>
          </tr>
          <tr>
            <td>상품코드</td>
            <td>J-SO</td>
          </tr>
          <tr>
            <td>배송비</td>
            <td>3,000원(80,000원 이상 구매 시 무료)</td>
          </tr>
        </table>
        <!-- product info options -->
        <div class="product-options">
          <p>추가상품</p>
          <form>
            <select name="addProduct" id="addProduct">
              <option>[선택] 옵션을 선택해 주세요</option>
              <option value="name">선택옵션이름</option>
              <option value="name">선택옵션이름</option>
              <option value="name">선택옵션이름</option>
            </select>
          </form>
          <span>선택하신 상품은 메인 상품과 함께 결제가 가능합니다.</span>
        </div>
        <p class="total-price">
          <span>총 상품금액:</span>
          1,430,000원</p>
        <!-- product info buttons -->
        <div class="product-btns">
          <button class="product-btn">장바구니</button>
          <button class="product-btn">바로구매</button>
        </div>
        <p class="npay-btn">
          <button>
            <span>N</span>
            pay 구매</button>
        </p>
      </div>

    </div>
  </main>

  <!-- BANNER -->
  <section class="banner container">
    <img src="https://pumstershop.com/img/event/event01-detail-thum.jpg" alt="event banner">
  </section>

  <!-- PRODUCT-TABMENU -->
  <section class="product-tabmenu">
    <div class="tab-area container">

      <input type="radio" name="tabs" id="tab1" checked="checked">
      <label for="tab1">상세정보</label>
      <input type="radio" name="tabs" id="tab2">
      <label for="tab2">구매안내</label>
      <input type="radio" name="tabs" id="tab3">
      <label for="tab3">상품후기</label>
      <input type="radio" name="tabs" id="tab4">
      <label for="tab4">상품문의</label>

      <!-- 상세정보 -->
      <div class="tab-content" id="content1">
        <img src="https://juntooling.com/web/upload/NNEditor/20221207/EB89B420EC8A88EB8298EC9DB4EB8D94ED858CEC9DB4EBB894EC8F9820EC82ACEC9D80ED9288.jpg" alt="product-manual">
        <img src="https://juntooling.com/web/upload/NNEditor/20211012/1634021519533.png" alt="product-manual">
        <img src="https://juntooling.com/web/upload/NNEditor/20211012/1634021525791.png" alt="product-manual">
        <img src="https://juntooling.com/web/upload/NNEditor/20211012/1634021525502.png" alt="product-manual">
      </div>
      <!-- 구매안내 -->
      <div class="tab-content" id="content2">
        <div class="buy-info">
          <div class="buy-info__title">상품결제정보</div>
          <div class="buy-info__desc">
            고액결제의 경우 안전을 위해 카드사에서 확인전화를 드릴 수도 있습니다. 확인과정에서 도난 카드의 사용이나 타인 명의의 주문등 정상적인 주문이 아니라고 판단될 경우 임의로 주문을 보류 또는 취소할 수 있습니다.<br/>
            <br/>
            무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.<br/>
            주문시 입력한 입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 7일 이내로 입금을 하셔야 하며 입금되지 않은 주문은 자동취소 됩니다.
          </div>
        </div>
        <div class="buy-info">
          <div class="buy-info__title">배송정보</div>
          <div class="buy-info__desc">
            배송 방법 : 택배<br/>
            배송 지역 : 전국지역<br/>
            배송 비용 : 3,000원<br/>
            배송 기간 : 1일 ~ 3일<br/>
            배송 안내 : - 산간벽지나 도서지방은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다.<br/>
            고객님께서 주문하신 상품은 입금 확인후 배송해 드립니다. 다만, 상품종류에 따라서 상품의 배송이 다소 지연될 수 있습니다.
          </div>
        </div>
        <div class="buy-info">
          <div class="buy-info__title">교환 및 반품정보</div>
          <div class="buy-info__desc">
            <span>교환 및 반품 주소</span>
            -경기도 양주시 덕정길 47 목수들의세상
            <br/><br/>
            <span>교환 및 반품이 가능한 경우</span>
            - 계약내용에 관한 서면을 받은 날부터 7일. 단, 그 서면을 받은 때보다 재화등의 공급이 늦게 이루어진 경우에는 재화등을 공급받거나 재화등의 공급이 시작된 날부터 7일 이내<br/>
            - 공급받으신 상품 및 용역의 내용이 표시.광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화 등을 공급받은 날 부터 3월이내, 그사실을 알게 된 날 또는 알 수 있었던 날부터 30일이내
            <br/><br/>
            <span>교환 및 반품이 불가능한 경우</span>
            - 이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)<br/>
            - 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우<br/>
            - 시간의 경과에 의하여 재판매가 곤란할 정도로 재화등의 가치가 현저히 감소한 경우<br/>
            - 복제가 가능한 재화등의 포장을 훼손한 경우<br/>
            - 개별 주문 생산되는 재화 등 청약철회시 판매자에게 회복할 수 없는 피해가 예상되어 소비자의 사전 동의를 얻은 경우<br/>
            - 디지털 콘텐츠의 제공이 개시된 경우, (다만, 가분적 용역 또는 가분적 디지털콘텐츠로 구성된 계약의 경우 제공이 개시되지 아니한 부분은 청약철회를 할 수 있습니다.)
            <br/><br/>
            ※ 고객님의 마음이 바뀌어 교환, 반품을 하실 경우 상품반송 비용은 고객님께서 부담하셔야 합니다.<br/>
            (색상 교환, 사이즈 교환 등 포함)
          </div>
        </div>
      </div>
      <!-- 상품후기 -->
      <div class="tab-content" id="content3">
        <div class="product-review">
          <p>후기가 없어요.</p>
        </div>
      </div>
      <!-- 상품문의 -->
      <div class="tab-content" id="content4">
        <div class="product-ask">
          <p>문의는 커뮤니티에서 하실까요?</p>
        </div>
      </div>

    </div>
  </section>

{% endblock content %}

<!-- JS -->
{% block js %}
  <script src="{% static 'js/product-swiper.js' %}"></script>
{% endblock js %}