{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="product-index-default">
  <div class="container">
    <!-- Swiper -->
    <div class="swiper product-index-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://pumstershop.com/img/main/event01.jpg" alt=""></div>
        <div class="swiper-slide"><img src="https://pumstershop.com/img/main/event01.jpg" alt=""></div>
        <div class="swiper-slide"><img src="https://pumstershop.com/img/main/event01.jpg" alt=""></div>
        <div class="swiper-slide"><img src="https://pumstershop.com/img/main/event01.jpg" alt=""></div>
      </div>
      <div class="swiper-button-next">
        <i class="fa-solid fa-arrow-right-long"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="fa-solid fa-arrow-left-long"></i>
      </div>
    </div>
    
    <!-- BEST 상품 -->
    <div class="product-index-title">
      <div class="best__title">
        <p>BEST 상품</p>
      </div>
      <div>
      <!-- Swiper -->
      <div class="swiper product-index-swiper-2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>  
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>  
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>  
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
    
    <!-- NEW 상품 -->
    <div class="product-index-title">
      <div class="new__title">
        <p>NEW 상품</p>
      </div>
      <!-- Swiper -->
      <div class="swiper product-index-swiper-2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>  
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>  
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>  
          <div class="swiper-slide">
            <div>
              <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
              <p class="product-index-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
              <p class="product-index-product-price">1,430,000원</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- test -->
<div>
  {% for product in products  %}
  
  <img src="{{ product.image_main.url }}" alt="">
  {{ product.name }}
  {{ product.price|intcomma}} 원
  {% endfor %}


</div>
{% endblock content %}

{% block js %}
<!-- Initialize Swiper -->
<script>
  var productIndexSwiper = new Swiper(".product-index-swiper", {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    loop: true,
  });

  var productIndexSwiper2 = new Swiper(".product-index-swiper-2", {
    slidesPerView: 4,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
{% endblock js %}