{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row my-5">
    <!-- Side Bar -->
    <div class="col-2 mx-5 product-list-sideBar">
      <div>
        <h1 class="my-5">BEST</h1>
        <ul>
          <li>슬라이딩/테이블쏘</li>
          <li>연장/보조테이블</li>
          <li>원형톱/톱날/루터</li>
          <li>집진기</li>
          <li>실린더/경첩조기대</li>
          <li>망치걸이/타카걸이</li>
          <li>원형톱 작업대가이드</li>
          <li>안전스위치 및 부품</li>
        </ul>
      </div>
    </div>
    <!-- Items -->
    <div class="col-8 product-list-Items">
      col-8
    </div>
  </div>
</div>
{% endblock content %}
