{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row my-5">
    <!-- Side Bar -->
    <div class="col-2 mx-1 product-list-sideBar">     
      <h1 class="product-list-title">BEST</h1>
      <ul class="product-list-ul">
        <li><a href="">슬라이딩/테이블쏘</a></li>
        <li><a href="">연장/보조테이블</a></li>
        <li><a href="">원형톱/톱날/루터</a></li>
        <li><a href="">집진기</a></li>
        <li><a href="">실린더/경첩조기대</a></li>
        <li><a href="">망치걸이/타카걸이</a></li>
        <li><a href="">원형톱 작업대가이드</a></li>
        <li><a href="">안전스위치 및 부품</a></li>
      </ul>
    </div>
    <!-- Items -->
    <div class="col-9 product-list-Items">
      <div class="product-list-ItemsBox">
        <div>
          <span class="product-list-count">13</span>
          <span class="product-list-countTitle">ITEMS</span>
        </div>  
        <div>    
          <select class="Items-option">
            <option value="1">신상품순</option>
            <option value="2">베스트순</option>
            <option value="3">후기많은순</option>
          </select>
        </div>
      </div>
      <hr class="product-list-hr">
      <!-- products -->
      <div class="row row-cols-1 row-cols-md-3 g-4 product-list-products">
        <div class="col product-list-product">
          <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
          <p class="product-list-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
          <p class="product-list-product-price">1,430,000원</p>
        </div>
        <div class="col product-list-product">
          <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
          <p class="product-list-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
          <p class="product-list-product-price">1,430,000원</p>
        </div>
        <div class="col product-list-product">
          <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
          <p class="product-list-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
          <p class="product-list-product-price">1,430,000원</p>
        </div>
        <div class="col product-list-product">
          <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
          <p class="product-list-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
          <p class="product-list-product-price">1,430,000원</p>
        </div>
        <div class="col product-list-product">
          <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
          <p class="product-list-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
          <p class="product-list-product-price">1,430,000원</p>
        </div>
        <div class="col product-list-product">
          <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
          <p class="product-list-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
          <p class="product-list-product-price">1,430,000원</p>
        </div>
        <div class="col product-list-product">
          <img src="https://juntooling.com/web/product/medium/202203/2be6d464475fee27c53c48d2c50e4183.jpg" alt="">
          <p class="product-list-product-title">뉴 슈나이더 테이블쏘 원형톱 목공작업대 테이블소</p>
          <p class="product-list-product-price">1,430,000원</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}